@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Home</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index")'><img height="80rem" width="140rem" src="img/bandera.jpg"></a></li>
                <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
                <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
            </ul>
        </nav>
        @foreach (Partido item in ViewBag.listPartidos)
        {
            <div>
                <a href='@Url.Action("VerDetallePartido")'><img src="/img/@item.Logo"></a>
                <h1>@item.Nombre</h1>
            </div>
        }
    </body>
</html>