@{
    ViewData["Title"] = "VerDetallePartido";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Detalles de partido</title>
    </head>
    <body>
        <div>
            <img src="@ViewBag.partido.Logo">
            <h1>Nombre: @ViewBag.partido.Nombre</h1>
            <a href="@ViewBag.partido.SitioWeb"><button>Sitio web</button></a>
             <a href='@Url.Action("AgregarCandidato", new{id = ViewBag.partido.IdPartido})'><button>agregar un candidato 2023</button></a>
            <h1>Creacion: @ViewBag.partido.FechaFundacion.ToShortDateString()</h1>
            <h1>Cantidad de senadores: @ViewBag.partido.CantSenadores</h1>
            <h1>Cantidad de diputados: @ViewBag.partido.CantDiputados</h1>
           
            <br>
            <div class="listado">
                @foreach (Candidato item in ViewBag.listCandidatos)
                {
                    <div class="elem">
                        <a href='@Url.Action("VerDetalleCandidato", new{id = item.IdCandidato})'><img src="@item.Foto"></a>
                        <h1>@item.Nombre</h1>
                    </div>
                }
            </div>
        </div>
    </body>  
</html>